@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #dcdf97;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-brand-secondary: #3a2e69;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;


  padding: 0 !important;
  margin: 0 !important;
  font-family: var(--custom-font-family) !important;
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 99vh;
}


nav {
  box-sizing: border-box;
  border-bottom: 5px solid var(--custom-color-brand);
  /* margin-bottom: 2em; */

  position: fixed;
  top: 0;

}


footer {
  position: relative;
  margin-top: 3em;
  max-height: 10vh;
  min-height: 10vh;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--custom-color-secondary);
  text-align: center;
  border-top: var(--custom-border);
  background-color: var(--custom-color);


}


.active,
.active:last-child {
  font-weight: bold;
  color: var(--custom-color-brand) !important;
  opacity: .8;
  background-color: var(--custom-color);

}

.image-gallery-image {
  width: 100vw !important;
}


.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: none;
}

@media (max-width: 600px) {}