@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  --custom-font-family: "ibm-plex-sans", sans-serif;
  --custom-bg-color: #dcdf97;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-brand-secondary: #3a2e69;
  --custom-color-secondary: #ebf4fa;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;


  padding: 0 !important;
  margin: 0 !important;
  font-family: var(--custom-font-family) !important;
  background-color: var(--custom-color) !important;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 99vh;
  height: fit-content !important;
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 3px double !important;
  width: 80%;
  margin: 1em auto 1em !important;
}

/* hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
} */


header nav {
  z-index: 10000 !important;

  box-sizing: border-box;
  border-bottom: 5px solid var(--custom-color-brand);
  /* margin-bottom: 2em; */

  position: fixed;
  top: 0;
  opacity: 90%;
}

a {
  text-decoration: none !important;

}

button a {
  color: var(--custom-color);

}

button {
  background-color: var(--custom-color-brand);
  border: none;
  color: var(--custom-color);
  padding-inline: 2em;
  padding-block: .75em;
  border-radius: var(--custom-border-radius) !important;
}

footer {
  position: relative;
  margin-top: 3em;
  max-height: 10vh;
  min-height: 10vh;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--custom-color-secondary);
  text-align: center;
  border-top: var(--custom-border);
  background-color: var(--custom-color);


}

section {
  margin: 0 auto;
  background-color: var(--custom-color);

}

.active,
.active:last-child {
  font-weight: bold;
  color: var(--custom-color-brand) !important;
  opacity: .8;
  background-color: var(--custom-color);

}

.image-gallery-image {
  width: 100vw !important;
}


.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: none;
}

.bg-image-section {
  background-image: url("../public/stock/stairs-people.jpg") !important;
  background-position-y: 60%;
  background-size: cover;
  height: fit-content;
  padding-bottom: 20em;
  width: 77vw;
  margin-top: 2em;

}

.detached-heading {
  position: relative !important;
  top: -120px !important;
  padding: .5em;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--custom-color-secondary);
  text-transform: uppercase;
  color: var(--custom-panel-color);
}

.flip-card {
  padding-inline: 6em;
  padding-block: 4.5em;
  margin-inline: 30px;
  justify-self: center;
  width: fit-content;
  height: 18em;
  background-color: var(--custom-color-brand);
  opacity: 80%;
}

.process-section {
  background-color: var(--custom-color-secondary);
  margin-top: 2em;
  padding-top: 4em;
  padding-bottom: 6em;
}

.process-steps {
  background-color: var(--custom-color-brand);
  height: 22em;
  border: .5em solid var(--custom-color-secondary);
  text-align: center;
  padding-top: 2%;
  color: var(--custom-color-secondary);
}

.quality-section {
  background-color: var(--custom-color);
  margin-top: 2em;
  padding-top: 4em;
  padding-bottom: 0em;
}

.quality-steps {
  background-color: var(--custom-color);
  height: 22em;
  border: .5em solid var(--custom-color);
  text-align: center;
  padding-top: 2%;
  color: var(--custom-color-panel);
}

.quality-steps svg {
  color: var(--custom-color-brand)
}

.partial-about-section {
  background-color: var(--custom-color-brand);
  margin-top: 2em;
  padding-top: 4em;
  padding-bottom: 6em;
  color: var(--custom-color-secondary);
}

.partial-about-container {
  width: 70vw !important
}

.partial-about-section hr {
  margin: 0 !important;
  width: 40%;
}

.partial-about-section button,
.partial-about-section button a {
  background-color: var(--custom-color-secondary);
  color: var(--custom-color-brand);
}

.contact-form-section {
  margin-top: 2em;
  width: 40vw
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 2em;
}

.dropdown-menu {
  width: 30vw !important;
  height: 50vh !important;
  padding: 1em !important;
}

.dropdown-toggle {
  width: 30vw !important;
}

@media (max-width: 600px) {
  .contact-form-section {
    width: 99vw
  }

  .partial-about-container {
    width: 100vw !important
  }

  .flip-card {
    padding-inline: 3em;
    padding-block: 2.5em;
    margin-inline: 0px;
    margin-bottom: 1em;
  }

  .intro-section {
    margin-top: 25em !important;

    width: 100vw !important;
    padding: 0 !important;
  }

  .detached-heading {
    position: relative !important;
    top: 0px !important;
    padding: .5em;
    margin: 0 auto;
    width: fit-content;
    background-color: var(--custom-color-secondary);
    text-transform: uppercase;
    color: var(--custom-panel-color)
  }

  .bg-image-section {
    padding-bottom: 0;
    width: 99vw;
    background-position-x: 50%;

  }

  .dropdown-menu {
    width: 80vw !important;
    height: 70vh !important;
    padding: 1em !important;
  }

  .dropdown-toggle {
    width: 40vw !important;
  }
}