@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  --custom-font-family: "ibm-plex-sans", sans-serif;
  --custom-bg-color: #dcdf97;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-brand-secondary: #3a2e69;
  --custom-color-secondary: #EDF1F5;
  ;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;


  padding: 0 !important;
  margin: 0 !important;
  font-family: var(--custom-font-family) !important;
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 99vh;
}

hr {
  border: none;
  border-top: 3px double #333 !important;
  width: 80%;
  margin: 2em auto 2em !important;
}

/* hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
} */


header nav {
  z-index: 10000 !important;

  box-sizing: border-box;
  border-bottom: 5px solid var(--custom-color-brand);
  /* margin-bottom: 2em; */

  position: fixed;
  top: 0;

}

a {
  text-decoration: none !important;

}

button a {
  color: var(--custom-color);

}

button {
  background-color: var(--custom-color-brand);
  border: none;
  color: var(--custom-color);
  padding: 1.5em;
  border-radius: var(--custom-border-radius) !important;
}

footer {
  position: relative;
  margin-top: 3em;
  max-height: 10vh;
  min-height: 10vh;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--custom-color-secondary);
  text-align: center;
  border-top: var(--custom-border);
  background-color: var(--custom-color);


}

section {
  margin: 0 auto;
  background-color: var(--custom-color);
}

.active,
.active:last-child {
  font-weight: bold;
  color: var(--custom-color-brand) !important;
  opacity: .8;
  background-color: var(--custom-color);

}

.image-gallery-image {
  width: 100vw !important;
}


.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: none;
}

.bg-image-section {
  background-image: url("../public/stock/stairs-people.jpg") !important;
  background-position-y: 60%;
  background-size: cover;
  height: 46em;
  width: 77vw;
}

.detached-heading {
  position: relative !important;
  top: -120px !important;
  padding: .5em;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--custom-color-secondary);
  text-transform: uppercase;
  color: var(--custom-panel-color)
}

.flip-card {
  padding: 20px;
  padding-block: 5em;
  margin-inline: 30px;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  background-color: var(--custom-color-brand);
}

;

@media (max-width: 600px) {}